doctype html
html
   head
        link(rel ='stylesheet', href = '/css/style.css')
        title  About-Us
   body
      include layout.pug 
      h1.About About us
      img(src=img style ='width: 1300px; height: 600px;' )
