doctype html
html
   head
       link(rel ='stylesheet', href = '/css/style.css')
       title Home page
   body
      include layout.pug
      h1.greetings#people Home Page
      img(src=img style ='width: 1300px; height: 600px;' )
