doctype html
html
   head
       link(rel ='stylesheet', href = '/css/style.css')
   ul 
     li 
      a(href= '/Home_page') Home Page|
     li 
      a(href= '/About_us') About Us|
     li 
      a(href= '/Services') Services  
   body
      h1.greetings#people Soufo Media
      