doctype html
html
   head
        link(rel ='stylesheet', href = '/css/style.css')
        title We are off today
   body
      
      h1.We are off today plz check our openning hours and days.
      